.container-createact {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
}

.form-columns {
    display: flex;
    justify-content: space-between; /* Espacio entre las columnas */
    width: 100%; /* Ajustar el ancho de las columnas */
    max-width: 900px; /* Ajustar el ancho máximo de la sección de formulario */
}

.form-column {
    flex: 1; /* Permitir que las columnas ocupen el mismo espacio */
    margin: 0 50px; /* Espaciado entre las columnas */
}

.custom-input-createact {
    border-radius: 30px;
    border: 3px solid black;
    font-size: 16px; 
    width: 100%; /* Usar 100% para ocupar todo el ancho disponible */
    height: 50px; /* Ajustar la altura para todos los inputs */
    padding: 10px; /* Usar padding en lugar de altura fija */
    margin: 10px 0; /* Margen vertical para separar los inputs */
    text-align: center;
}

.custom-textarea-createact {
    border-radius: 30px;
    border: 3px solid black;
    font-size: 16px; 
    width: 100%; /* Usar 100% para ocupar todo el ancho disponible */
    height: 50px; /* Ajustar la altura para todos los inputs */
    padding: 10px; /* Usar padding en lugar de altura fija */
    margin: 10px 0;
}

.custom-textarea-createact {
    height: 100px; /* Ajustar altura específica para el textarea */
}

.custom-button-createact {
    width: 250px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.custom-label-createact {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.custom-select-createact {
    width: 100%; 
    margin-top: 10px;    
}

.Select {
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.Select--is-focused {
    border-color: #007bff; /* Cambia el color cuando está enfocado */
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
}
